body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: block;
    margin: 8px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;            
    font-weight: 400;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    line-height: 1.5;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul li:before, aside ul li:before {
    content: '# ';            
    color: var(--list-style-color);
    opacity: .7;
}
a {
    color: var(--link-text-color);
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: var(--link-hover-color);
}
:root {
    --main-bg-color: #282a36;
    --main-text-color: #f8f8f2;
    --headline-text-color: #8be9fd;
    --input-border-color: #bd93f9;
    --input-text-color: #f8f8f2;
    --link-focus-color: #44475a;
    --link-focus-accent-color: #f8f8f2;
    --autocomplete-bg-color: #6272a4;
    --list-style-color: #ffb86c;
    --code-bg-color: #44475a;
    --footer-bg-color: #44475a;
    --footer-text-color: #ffffff;
    --link-text-color: #bd93f9;
    --input-bg-color: #44475a;
    --input-placeholder-color: #f8f8f2;
    --link-focus-bg-color: #44475a;
    --link-hover-color: hotpink;
}
html {
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
    font-family: 'Titillium Web', sans-serif; 
}        

th {
    width: 200;
    height: 55;
    text-align: left;
}
td {
    vertical-align: top;
    height: 40;
}

.center {
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Set the height of the container to full viewport height */
    font: 10pt; 
    font-family: 'Titillium Web', sans-serif; 
    color: #6eb3ab
  }
  
